.listСar {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 48px;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
}
.sectionCatalog {
  margin-top: 84px;
}

.item {
  display: flex;
  flex-direction: column;
}

.mainInfo {
  margin-bottom: 8px;
}

.carModel {
  color: #3470ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.carBrand {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 2px;
}

.carYear {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.infoList {
  text-align: center;
  justify-content: center;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-left: auto;
}

.infoList h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  border-radius: 14px;
  width: 276px;
  height: 268px;
  margin-bottom: 16px;
}

.geoInfo {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8e929a;
  margin-bottom: 28px;
}

.readMoreButton {
  border-radius: 12px;
  padding: 12px 96px;
  width: 276px;
  height: 44px;
  background-color: #3470ff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.readMoreButton:hover {
  background-color: #0b44cd;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  /* gap: 16px; */
  /* color: #8e929a; */
}

.carBrandText {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
  color: #8e929a;
}

.inputContainer {
  position: relative;
}

.input {
  padding: 16px 12px;
  width: 204px;
  /* border: none; */
  background-color: #f7f7f7;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #101828;
}
.input:focus {
  outline: none;
}

.inputFrom::-webkit-outer-spin-button,
.inputFrom::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputTo::-webkit-outer-spin-button,
.inputTo::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .input:nth-child(4) {
  margin-left: 0;
} */

.icon {
  position: absolute;
  top: 68%;
  transform: translateY(-50%);
  right: 34px;
  width: 16px;
  height: 16px;
  cursor: pointer;

  /* top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer; */
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 204px;
}

.list li {
  padding: 8px 12px;
  cursor: pointer;
}

.list li:hover {
  background-color: #f0f0f0;
}

.searchButton {
  background-color: #3470ff;
  color: white;
  border: none;
  padding: 12px 51px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.25;
  border-radius: 12px;
}
.inputFrom {
  width: 160px;
  margin-right: 0;
  border: none;
  border-right: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}
/* .inputFrom:active {
  border: none;
} */

.inputTo {
  width: 160px;
  margin-left: 0;
  margin-right: 16px;
  color: #101828;
  border: none;
}
.inputChooseCatalog {
  margin-right: 16px;
  color: #101828;
  border: none;
}
.inputChoosePrice {
  margin-right: 16px;
  color: #101828;
  border: none;
}

.itemBrands {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8e929a;
}
.loadMore {
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 38px;
  background-color: white;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* width: 156px; */
}
